.jumbotron{
    background: #8e9eab; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #eef2f3, #8e9eab); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #eef2f3, #8e9eab); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #eef2f3, #8e9eab); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(-90deg, #e56a14,#FFA54F); !* Standard syntax (must be last) *!*/
    /*background: linear-gradient(-90deg, rgba(255, 233, 78, 0.88), rgba(229, 106, 20, 0.92)); !* Standard syntax (must be last) *!*/
    /*background: linear-gradient( rgba(55, 59, 68, 0.73), rgba(115, 200, 169, 0.73));*/

    background: linear-gradient( rgba(238, 242, 243, 0.73), rgba(142, 158, 171, 0.73));
    margin-bottom: 0;
    /*height: 30%;*/
}

body{
    background: #eee url(../img/background.png);
    overflow-x: hidden;
    /*min-height: 1500px;*/
}

/*.well {*/
    /*background: #18BC9C;*/
/*}*/

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li{
    display: inline-block;
    float: none;
}

.navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

/*.navbar-left > img {*/
    /*padding-left: 5px;*/
    /*padding-top: 7px;*/
    /*padding-bottom: 1px;*/
/*}*/
